body {
    background-color: aquamarine;
}
.margin-bottom-100 {
    margin-bottom: 100px;
} 
.margin-bottom-50 {
    margin-bottom: 50px;
}   
.margin-bottom-25 {
    margin-bottom: 25px;
}
.padding-top-40 {
    padding-top: 40px;
}    
