{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <fieldset align="center">
          {% if user.is_authenticated %}
            Votre compte est en attente d'activation
            <p><a href="{% url 'logout' %}">logout</a></p>
          {% else %}
          <h2>Connexion</h2>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Nom d'utilisateur : </label>
              <input id="username" type="text" name="{{form.username.name}}" class="form-control" id="exampleInputPassword1" placeholder="Nom d'utillisateur">
            </div>
            <div class="form-group">
              <label for="password">Mot de passe : </label>
              <input id="password" type="password" name="{{form.password.name}}" class="form-control"  placeholder="Mot de passe">
            </div>
            <button class="btn btn-primary" type="submit">Connexion</button>
          </form>
          <a href="{% url 'register' %}">
            Enregistrement
          </a>
        </fieldset>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  {% endif %}
{% endblock %}