{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
	<h2>Article: {{article.title}}</h2>
	<p>
		{{article.content}}
	</p>
	<div class="row">
		<div class="col-md-9">
			{% for media in medias %}
				{% if media.image %}
					<img src='{{media.image.url}}'  class="img-fluid" />
				{% endif %}
				{% if media.audio %}
					<audio controls="controls">
						<source src="{{media.audio.url}}.mp3" type="audio/mp3" />
						Votre navigateur n'est pas compatible
					</audio>
				{% endif %}
				{% if media.video %}
					<button onclick="setPlaySpeed()" type="button">Ralenti </button>
					<button onclick="ResetPlaySpeed()" type="button">Retour vitesse normal </button>
					<video width="320" height="240" controls>
						<source src="{{media.video.url}}" type="video/mp4" controls>
						Votre navigateur de supporte pas les vidéos
					</video>
				{% endif %}
				{% if media.youtubeurl %}
					<iframe i{{media.youtubeurl.url}}"
						frameborder="0"/>
					<script>
						let vid = document.getElementById("myVideo");
						function ResetPlaySpeed() { 
							vid.playbackRate = 1;
						} 
						function setPlaySpeed() { 
							vid.playbackRate = 0.5;
						} 
					</script> 
				{% endif %}
				{% if media.guitarpro %}
					<p> tablature :)</p>
				{% endif %}
				
			{% endfor %}
		</div>
		<div class="col-md-3 box-left-dl">
			<h4>Fichiers disponibles</h4>
			<ul>
				{% for media in medias %}
					{% if media.image %}
					<li>
						<a href="{{media.image.url}}">
							<i class=" fa fa-file-image"></i>
							Fichier image : {{media.name}}
						</a>
					</li>
					{% endif %}
					{% if media.audio %}
					<li>
						<a href="{{media.audio.url}}">
							<i class="fa fa-file-audio"></i>
							Fichier audio : {{media.name}}
						</a>
					</li>
					{% endif %}
					{% if media.pdf %}
					<li>
						<a href="{{media.pdf.url}}">
							<i class=" fa fa-file-pdf"></i>
							Fichier pdf : {{media.name}}
						</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}